
.header__nav {
    padding: 0px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: var(--tertiary);
}

.header__title {


}